@import 'tailwindcss';

/* For Angular Material v15+ (MDC-based) */
.mat-mdc-select-panel {
  background-color: #ffffff !important; /* solid white */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* subtle shadow */
  border-radius: 6px; /* rounded corners */
}

.mat-mdc-option {
  background-color: #ffffff !important;
  color: #000000;
}

.mat-mdc-option:hover {
  background-color: #c5c5c5 !important; /* light gray hover */
}

